PORT=5001
DATABASE_URL="postgresql://postgres.pwxlooedpwazzpagsvh:%40Menghieng096t@aws-0-ap-northeast-2.pooler.supabase.com:6543/postgres?sslmode=require"
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

CLIENT_URL=http://localhost:3000

# ប្តូរទៅជា true ព្រោះ Supabase ប្រើ SSL 
DB_SSL=true

SUPABASE_URL=https://pwxltooedpwazzpagsvh.supabase.co
SUPABASE_KEY=sb_publishable_zAhY_twQUYGtKXpNDyHUKA_hwUPgxrl